# Preamble
name: Test SaltProc

on:
  push:
    paths:
      - 'saltproc/**'
      - 'saltproc/tests/**'
  pull_request:
  workflow_run:
    workflows: ["Cache dependencies"]
    types: [completed]
  # enable worflow to be run manually
  workflow_dispatch:

env:
  CACHE_NUMBER: 0 #change to manually reset cache

jobs:
  test-saltproc:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    env:
      MPI: no
      OMP: no
      PHDF5: no
      DAGMC: no
      EVENT: no
      VECTFIT: no
      LIBMESH: no

    steps:
      - uses: actions/checkout@v3

# Setup conda 
      - name: Set up conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-variant: Mambaforge # mamba is faster than base conda
          miniforge-version: latest
          activate-environment: saltproc-env
          use-mamba: true
          use-only-tar-bz2: true
      - run: |
          conda config --env --set pip_interop_enabled True

# check for existing cache
      - name: Set cache date
        run: echo "DATE=$(date +'%Y%m%d')" >> $GITHUB_ENV

      - uses: actions/cache@v2
        id: dependencies-cache
        with:
          path: |
            /usr/share/miniconda3/envs/saltproc-env
            /usr/local/bin/openmc
            ~/endfb71_hdf5
            ~/.cache/pip
          key: depcache-${{ hashFiles('environment.yml') }}-${{ env.DATE }}-${{ env.CACHE_NUMBER }}

# Install dependencies
      - name: Update environment
        run: mamba env update -n saltproc-env -f environment.yml
        if: steps.dependencies-cache.outputs.cache-hit != 'true'

      - name: Install OpenMC cross section library
        if: steps.dependencies-cache.outputs.cache-hit != 'true'
        run: $GITHUB_WORKSPACE/scripts/ci/openmc-xs.bash
      
      - name: OpenMC dependencies
        run: |
          sudo apt -y update
          sudo apt install -y libhdf5-dev

      - name: Download OpenMC
        if: steps.dependencies-cache.outputs.cache-hit != 'true'
        uses: actions/checkout@v3
        with: 
          repository: openmc-dev/openmc
          path: openmc

      - name: Build OpenMC
        if: steps.dependencies-cache.outputs.cache-hit != 'true'
        run: |
          cd openmc
          pip install --upgrade-strategy only-if-needed --no-binary=h5py h5py
          python tools/ci/gha-install.py
          pip install .
          cd ../
          
      - name: Build OpenMC
        if: steps.dependencies-cache.outputs.cache-hit == 'true'
        run: |
          cd openmc
          pip install --upgrade-strategy only-if-needed --no-binary=h5py h5py
          pip install .
          cd ../

      - name: Install SaltProc
        run:  pip install .

      - name: Try some openmc commands
        run: openmc --version
        
      - name: Test SaltProc
        run: |
          echo "OPENMC_CROSS_SECTIONS=$HOME/endfb71_hdf5/cross_sections.xml" >> $GITHUB_ENV
          pytest --ignore saltproc/tests/integration_tests saltproc
